<h1>Редактирование новости</h1>
{{#if news}}
  <form method="patch" action="/news/api" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="titleInput" class="form-label">Заголовок</label>
      <input class="form-control" name="title" id="titleInput" value="{{news.title}}">
    </div>
    <div class="mb-3">
      <label for="descriptionInput" class="form-label">Описание</label>
      <textarea class="form-control" name="description" id="descriptionInput" rows="3">{{news.description}}</textarea>
    </div>
    <div class="mb-3">
      <label for="authorInput" class="form-label">Автор</label>
      <input class="form-control" name="author" id="authorInput" value="{{news.author}}">
    </div>
    <button type="button" class="btn btn-primary" onclick='sendForm({{news.id}})'>отправить</button>
  </form>
{{else}}
  <h1>Новость отсутствует!</h1>
{{/if}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function sendForm(id) {
    var data = new FormData($('form')[0]);
    console.log(data.get('author'));
    $.ajax({
      url: `/news/api/${id}`,
      data: data,
      cache: false,
      contentType: false,
      processData: false,
      method: 'PATCH',
      success: function() {
        alert('Новость создана')
        window.location.href = `/news/${id}/detail`;
      }
    });
  }
</script>
