{{#if comments}}
    {{#each comments}}
      <div class="list-group">
        <a href="{{#unless this.blockcomment}}http://localhost:3000/comments/create/{{../idNews}}?idComment={{this.id}}{{else}}#{{/unless}}" class="list-group-item {{#unless this.blockcomment}}list-group-item-action{{/unless}} d-flex gap-3 py-3" aria-current="true">
          <img src="{{#if this.avatar}}{{this.avatar}}{{else}}http://norapc.org/wp-content/uploads/2015/07/avatar-blank.png{{/if}}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0">{{this.author}}</h6>
              <p class="mb-0 opacity-75">{{this.message}}</p>
            </div>
          </div>
        </a>
        {{#if this.reply}}
          <h6 class="my-2">Ответы:</h6>
          <div class="mb-3">
          {{#each this.reply}}
              <a href="#" class="list-group-item d-flex gap-3 py-3" aria-current="true">
                <img src="{{#if this.avatar}}{{this.avatar}}{{else}}http://norapc.org/wp-content/uploads/2015/07/avatar-blank.png{{/if}}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h6 class="mb-0">{{this.author}}</h6>
                    <p class="mb-0 opacity-75">{{this.message}}</p>
                  </div>
                </div>
              </a>
          {{/each}}
          </div>
        {{/if}}
      </div>
    {{/each}}
{{else}}
  <h3>нет комментариев</h3>
{{/if}}
